# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      # Check docstring position (disabled for now)
  # - id: check-docstring-first

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=88]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]

  # Linting (disabled for now - can be re-enabled after fixing issues)
  # - repo: https://github.com/pycqa/flake8
  #   rev: 7.1.0
  #   hooks:
  #     - id: flake8
  #       args: [--max-line-length=120, --ignore=E203,W503,E402,E501,F401,F841,F541,E711,E266,E722,E902,E741,E712,E731,F403,F405,F811,F901]
  #       exclude: ^(emulations/|tests/)

  # Type checking (disabled for now)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.10.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-setuptools]
  #       args: [--ignore-missing-imports, --no-strict-optional]

  # Security checks (disabled for now)
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.7.9
  #   hooks:
  #     - id: bandit
  #       args: [-r, --skip=B101,B601]
  #       exclude: ^tests/

  # Documentation (disabled for now)
  # - repo: https://github.com/pycqa/pydocstyle
  #   rev: 6.3.0
  #   hooks:
  #     - id: pydocstyle
  #       args: [--convention=numpy, --add-ignore=D100,D101,D102,D103,D104,D200,D202,D205,D301,D400,D401,D403,D406,D407,D409,D410,D411,D412]
  #       exclude: ^(tests/|setup\.py|version\.py)

  # Remove unused imports and variables
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args: [--remove-all-unused-imports, --in-place, --ignore-init-module-imports]

  # Upgrade syntax
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.16.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
